.connectionMessage {
    font-size: 14px;
    align-self: center;
    color: grey;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.connectionMessage_time {
    margin-left: 5px;
}

.message {
    border: #0a569e 2px solid;
    background: #0a569e;
    border-radius: 0.9rem;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 2%;
    margin-right: 2%;
    padding: 5px;
}

.receivedMessage {
    border: #2e2e2e 2px solid;
    background: #2e2e2e;
    align-self: start;
    margin-left: 10px;
}

.message_userName {
    display: block;
    vertical-align: top;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: salmon;
    margin-bottom: 5px;
}

.message_textTime {
    display: flex;
    flex-direction: row;
}

.message_textTime_text {
    font-size: 18px;
    overflow-wrap: anywhere;
    text-align: left;
}

.message_textTime_time {
    margin-left: 5px;
    font-size: 12px;
    color: grey;
    align-self: end;
}